/* :root {
  --primary-bg:;
  --activ-bg:;

} */

main {
  /* height: 100vh; */
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  width: 800px;
  height: 800px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}

#grid,
.square {
  border: 2px solid black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10);
  height: calc(100% / 10);
  cursor: crosshair;
}

.square.active {
  background-color: red;
  color: white;
}
